/* Import fonts */
@font-face {
  font-family: lemon;
  src: url(./lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Source Code Pro;
  src: url(./Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

/* Add possibly used animations */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromFarLeft {
  0% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromFarTop {
  0% {
    transform: translateY(-250%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

/* CSS for the index/home page */
html {
  margin: 0;
  overflow-x: hidden;
  background-color: #121b3a;
}

* {
  margin: 0;
  padding: 0;
}

.outer-div {
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  position: relative;
  background-image: url(./images/transparent\ cube.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.middle {
  width: 100%;
  background-image: url(./images/bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px -2px 15px black;
}

.nav-options {
  margin-top: -30px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 5;
  animation: slideInFromTop 0.8s ease;
}

.name-title {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: lemon;
  margin-left: 5vw;
  margin-right: auto;
  white-space: nowrap;
  margin-top: 1vh;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px 15px;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
  transform: translateZ(0);
  animation: slideInFromTop 0.8s ease;
}

.name-title:hover {
  box-shadow: inset 450px 0 0 0 #ffffff;
  color: black;
}

.nav-li {
  margin: 0px 10px;
  padding: 0px 30px;
  transition: 1s all ease;
}

.links {
  display: flex;
  flex-direction: row;
}

.home-btn {
  background-color: transparent;
  border-style: none;
  padding: 10px 0px;
  margin-top: 1vh;
  color: white;
  font-family: lemon;
}

.exit-btn {
  display: none;
}

.call-btn {
  background-color: white;
  border-radius: 10px;
  border-style: none;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: -10px;
  margin-top: 1vh;
  color: black;
  font-family: lemon;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.call-btn:hover {
  background-color: #ff4074;
  border: 2px solid white;
  color: white;
}

.home-link {
  text-decoration: none;
  color: #edeade;
  font-size: 18px;
}

.call-link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

.call-btn:hover .call-link {
  color: white;
}

.home-link::after {
  content: "";
  display: block;
  margin: left;
  background-color: #ff4074;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.home-link:hover {
  color: #ffffff;
}

.home-link:hover:after {
  width: 100%;
}

.hamburger {
  display: none;
}

.hb-btn {
  display: none;
  font-size: 18px;
}

.exit {
  display: none;
}

.nav-li-container {
  display: flex;
  align-items: center;
}

.dropdown-logo {
  display: none;
}

.hero-left {
  margin-top: 20vh;
  margin-left: 6vw;
  max-width: 30vw;
  animation: slideInFromFarLeft 1s ease;
}

.hero-title {
  font-family: lemon;
  color: white;
  font-size: 35px;
}

.hero-description {
  margin: 15px 0px;
  font-family: Poppins;
  color: #d3d4d7;
  font-size: 18px;
}

.hero-btn {
  margin-bottom: 200px;
  margin-left: 0px;
  font-size: 14px;
}

.spacer {
  width: 100%;
  background: none;
}

.layer1 {
  margin-top: -150px;
  z-index: 3;
  position: relative;
}

.layer1-reverse {
  margin-top: 50px;
  position: relative;
  transform: rotateX(180deg);
  margin: -5px 0;
}

.conference-img {
  width: 650px;
  height: 350px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px black;
  border: 2px solid white;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 5%;
  align-items: center;
  margin-top: 250px;
  opacity: 0;
}

.image-text-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 110px;
  align-items: center;
  opacity: 0;
}

.image-text-container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 100px;
  align-items: center;
  margin-top: 250px;
  opacity: 0;
}

.middle-text-container {
  max-width: 500px;
  text-align: center;
}

.middle-text-container h3 {
  color: white;
  font-family: lemon;
  font-size: 30px;
  margin-bottom: 10px;
}

.middle-text-container p {
  color: white;
  font-family: Poppins;
  font-size: 21px;
}

.final-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10vw;
  margin-top: 125px;
  opacity: 0;
}

.final-call h3 {
  color: white;
  font-family: lemon;
  font-size: 21px;
}

.final-call button {
  margin-top: 10px;
  font-size: 14px;
}


/* Adding required screen size adaptations to allow the page to be responsive and adapt to all screen sizes */
@media screen and (max-width: 1500px) {
  .image-text-container {
    margin: 0 20px;
    margin-top: 250px;
  }

  .image-text-container-2 {
    margin: 0 20px;
  }

  .image-text-container-3 {
    margin: 0 20px;
    margin-top: 250px;
  }

  .middle-text-container {
    max-width: 30%;
  }
}

@media screen and (max-width: 1350px) {

  .home-link,
  .call-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .image-text-container {
    margin: 0 20px;
    margin-top: 250px;
  }

  .image-text-container-2 {
    margin: 0 20px;
  }

  .image-text-container-3 {
    margin: 0 20px;
    margin-top: 250px;
  }

  .middle-text-container {
    max-width: 30%;
  }

  .conference-img {
    width: 550px;
    height: 300px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-btn {
    font-size: 14px;
  }

  .middle-text-container h3 {
    font-size: 25px;
  }

  .middle-text-container p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1105px) {
  .nav-li {
    margin: 0px 10px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1050px) {

  .home-link,
  .call-btn {
    font-size: 15px;
  }

  .name-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .call-btn {
    padding: 8px 20px;
  }

  .middle-text-container h3 {
    font-size: 22px;
  }

  .middle-text-container p {
    font-size: 16px;
  }

  .conference-img {
    width: 500px;
    height: 250px;
  }
}

@media screen and (max-width: 900px) {
  .image-text-container {
    flex-direction: column;
    margin-top: 280px;
  }

  .middle-text-container {
    max-width: 80%;
  }

  .conference-img {
    margin-bottom: 25px;
    width: 450px;
    height: 250px;
  }

  .image-text-container-2 {
    flex-direction: column-reverse;
  }

  .image-text-container-3 {
    flex-direction: column;
  }

  .final-call {
    margin-top: 50px;
  }

  .home-link,
  .call-btn {
    font-size: 15px;
  }

  .nav-li {
    margin: 0px;
  }

  .name-title {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 800px) {

  .home-link,
  .call-btn {
    font-size: 1.8vw;
  }

  .call-btn {
    padding: 8px 10px;
  }

  .nav-li {
    margin: 0px;
  }

  .hero-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {

  .nav-li-container {
    display: none;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .home-link,
  .call-btn {
    font-size: 14px;
  }

  .home-link::after {
    width: 100%;
  }

  .links {
    margin-top: 25px;
  }

  .call-btn {
    margin-top: 15px;
  }

  .hb-btn {
    background-color: transparent;
    border-style: none;
    display: contents;
  }

  .hamburger {
    display: contents;
  }

  .exit {
    display: contents;
    justify-content: center;
  }

  .dropdown-logo {
    display: block;
    height: 45px;
    width: 80px;
    left: 0;
    top: 0;
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
  }

  .exit::before {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 35px;
    margin-right: 30px;
  }

  .exit-btn {
    display: contents;
    background-color: transparent;
  }

  .hb-btn-pressed {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    padding-top: 175px;
    background: #0a0f25;
    width: 100vw;
    height: 150px;
    animation: slideInFromTop 1s ease-out;
  }

  .dropdown-items {
    margin-top: -120px;
    align-items: center;
  }

  .nav-btn {
    margin-left: 0.6vw;
  }
}

@media screen and (max-width: 650px) {
  .image-text-container {
    margin-top: 350px;
  }
}

@media screen and (max-width: 530px) {
  .nav-li {
    padding: 0px 10px;
  }

  .conference-img {
    width: 350px;
    height: 200px;
  }

  .image-text-container {
    margin: 0;
    margin-top: 370px;
  }

  .image-text-container-2 {
    margin-top: -75px;
  }

  .image-text-container-3 {
    margin: 0 20px;
    margin-top: 150px;
  }
}

@media screen and (max-width: 500px) {
  .final-call {
    margin-top: -50px;
    opacity: 1 !important;
  }

  .nav-options {
    margin-top: -50px;
  }

  .hero-description {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 450px) {
  .final-call button {
    font-size: 1.5vw;
  }

  .call-btn {
    font-size: 1.5vw;
  }

  .home-link {
    font-size: 1.3vw;
  }

  .name-title {
    margin-left: 3vw;
  }

  .hero-description {
    font-size: 2vw;
  }

  .hero-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 425px) {
  .name-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 420px) {

  .name-title {
    margin-right: auto;
  }

  .middle-text-container h3 {
    font-size: 3vw;
  }

  .middle-text-container p {
    font-size: 2vw;
  }

  .final-call h3 {
    font-size: 2vw;
  }

  .nav-btn {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .conference-img {
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 320px) {
  .conference-img {
    width: 250px;
    height: 125px;
  }
}