@font-face {
  font-family: lemon;
  src: url(./lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Source Code Pro;
  src: url(./Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromFarLeft {
  0% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromFarTop {
  0% {
    transform: translateY(-250%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

html {
  margin: 0;
  overflow-x: hidden;
  background-color: #23272a;
}

* {
  margin: 0;
  padding: 0;
}

.outer-div {
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  background-color: #23272a;
  position: relative;
  background-image: url(./images/transparent\ cube.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.middle {
  width: 100%;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px -2px 15px black;
}

.nav-options {
  margin-top: -30px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 15px;
  position: relative;
  z-index: 5;
  animation: slideInFromTop 0.8s ease;
}

.name-title {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: lemon;
  margin-left: 5vw;
  margin-right: 32vw;
  white-space: nowrap;
  margin-top: 1vh;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px 15px;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
  transform: translateZ(0);
  animation: slideInFromTop 0.8s ease;
}

.name-title:hover {
  box-shadow: inset 250px 0 0 0 #ffffff;
  color: black;
}

.nav-li {
  margin: 0px 10px;
  padding: 0px 30px;
  transition: 1s all ease;
}

.home-btn {
  background-color: transparent;
  border-style: none;
  padding: 10px 0px;
  margin-top: 1vh;
  color: white;
  font-family: lemon;
}

.call-btn {
  background-color: white;
  border-radius: 10px;
  border-style: none;
  padding: 10px 20px;
  margin-left: -10px;
  margin-top: 5px;
  color: black;
  font-family: lemon;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.call-btn:hover {
  background-color: #ff4074;
  border: 2px solid white;
  color: white;
}

.home-link {
  text-decoration: none;
  color: #edeade;
}

.call-link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

.call-btn:hover .call-link {
  color: white;
}

.home-link::after {
  content: "";
  display: block;
  margin: left;
  background-color: #ff4074;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.home-link:hover {
  color: #ffffff;
}

.home-link:hover:after {
  width: 100%;
}

.hero-left {
  margin-top: 20vh;
  margin-left: 95px;
  max-width: 445px;
  animation: slideInFromFarLeft 1s ease;
}

.hero-title {
  font-family: lemon;
  color: white;
}

.hero-description {
  margin: 15px 0px;
  font-family: Poppins;
  color: #d3d4d7;
}

.hero-btn {
  margin-bottom: 200px;
  margin-left: 0px;
}

.spacer {
  width: 100%;
  background: none;
}

.layer1 {
  margin-top: -150px;
  z-index: 3;
  position: relative;
}

.layer1-reverse {
  margin-top: 50px;
  position: relative;
  transform: rotateX(180deg);
  margin: -5px 0;
}

.conference-img {
  width: 650px;
  height: 350px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px black;
  border: 2px solid white;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 110px;
  align-items: center;
  margin-top: 250px;
  opacity: 0;
}

.image-text-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 110px;
  align-items: center;
  opacity: 0;
}

.image-text-container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 100px;
  align-items: center;
  margin-top: 250px;
  opacity: 0;
}

.middle-text-container {
  max-width: 400px;
  text-align: center;
}

.middle-text-container h3 {
  color: white;
  font-family: lemon;
  font-size: 28px;
  margin-bottom: 10px;
}

.middle-text-container p {
  color: white;
  font-family: Poppins;
  font-size: 18px;
}

.final-call {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 500px;
  margin-top: 125px;
  opacity: 0;
}

.final-call h3 {
  color: white;
  font-family: lemon;
  font-size: 18px;
}

.final-call button {
  margin-top: -10px;
}